<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fh.dao.AddressMapper">
	<resultMap id="BaseResultMap" type="com.fh.entity.Address">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="phone" jdbcType="VARCHAR" property="phone" />
		<result column="province_city" jdbcType="VARCHAR" property="provinceCity" />
		<result column="address" jdbcType="VARCHAR" property="address" />
		<result column="postcode" jdbcType="VARCHAR" property="postcode" />
		<result column="default_flag" jdbcType="BIT" property="defaultFlag" />
		<result column="user_id" jdbcType="BIGINT" property="userId" />
	</resultMap>
	<sql id="Base_Column_List">
		id, name, phone, province_city, address, postcode,
		default_flag, user_id
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from bus_address
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from
		bus_address
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.fh.entity.Address">
		insert into bus_address (id,
		name, phone,
		province_city, address, postcode,
		default_flag, user_id)
		values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR},
		#{phone,jdbcType=VARCHAR},
		#{provinceCity,jdbcType=VARCHAR},
		#{address,jdbcType=VARCHAR}, #{postcode,jdbcType=VARCHAR},
		#{defaultFlag,jdbcType=BIT}, #{userId,jdbcType=BIGINT})
	</insert>
	<insert id="insertSelective" parameterType="com.fh.entity.Address">
		insert into bus_address
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="phone != null">
				phone,
			</if>
			<if test="provinceCity != null">
				province_city,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="postcode != null">
				postcode,
			</if>
			<if test="defaultFlag != null">
				default_flag,
			</if>
			<if test="userId != null">
				user_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=VARCHAR},
			</if>
			<if test="provinceCity != null">
				#{provinceCity,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="postcode != null">
				#{postcode,jdbcType=VARCHAR},
			</if>
			<if test="defaultFlag != null">
				#{defaultFlag,jdbcType=BIT},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=BIGINT},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.fh.entity.Address">
		update bus_address
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				phone = #{phone,jdbcType=VARCHAR},
			</if>
			<if test="provinceCity != null">
				province_city = #{provinceCity,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				address = #{address,jdbcType=VARCHAR},
			</if>
			<if test="postcode != null">
				postcode = #{postcode,jdbcType=VARCHAR},
			</if>
			<if test="defaultFlag != null">
				default_flag = #{defaultFlag,jdbcType=BIT},
			</if>
			<if test="userId != null">
				user_id = #{userId,jdbcType=BIGINT},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.fh.entity.Address">
		update bus_address
		set name = #{name,jdbcType=VARCHAR},
		phone = #{phone,jdbcType=VARCHAR},
		province_city = #{provinceCity,jdbcType=VARCHAR},
		address =
		#{address,jdbcType=VARCHAR},
		postcode = #{postcode,jdbcType=VARCHAR},
		default_flag = #{defaultFlag,jdbcType=BIT},
		user_id =
		#{userId,jdbcType=BIGINT}
		where id = #{id,jdbcType=BIGINT}
	</update>
	
	<select id="findAddressList" resultType="Address">
		select * from (
		<include refid="sqlAddressList"></include>
		)limit #{pageable.pageStart}, #{pageable.pageEnd}
	</select>

	<sql id="sqlAddressList">
		select
		<include refid="Base_Column_List" />
		from bus_address
		where 1 = 1
		<if test="request.id != null">
			and id = #{request.id,jdbcType=BIGINT},
		</if>
		<if test="request.defaultFlag != null">
			and default_flag = #{request.defaultFlag,jdbcType=BIT},
		</if>
		<if test="userId != null">
			and userId = #{userId,jdbcType=BIGINT},
		</if>



	</sql>
	
	<select id="selectByDefaultFlag" parameterType="java.lang.Boolean"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from bus_address
		where default_flag = #{defaultFlag,jdbcType=BIT}
		limit 1
	</select>
</mapper>