<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fh.dao.BusinessManInfoMapper">

	<select id="findBusinessManInfos" resultType="BusinessManInfo">
		select * from (
		<include refid="sqlBusinessManInfos"></include>
		) a
		<if test="request.gradeOrder != null or request.salesOrder != null">
			order by
		</if>
		<if test="request.gradeOrder != null and request.gradeOrder == 1">
			a.grade
		</if>
		<if test="request.gradeOrder != null and request.gradeOrder == 2">
			a.grade desc
		</if>
		<if test="request.gradeOrder != null and request.salesOrder != null">
			,
		</if>
		<if test="request.salesOrder != null and request.salesOrder == 1">
			a.sales_count
		</if>
		<if test="request.salesOrder != null and request.salesOrder == 2">
			a.sales_count desc
		</if>
		limit #{pageable.pageStart}, #{pageable.pageEnd}
	</select>

	<select id="findBusinessManInfo" resultType="BusinessManInfo">
		<include refid="sqlBusinessManInfo"></include>
		limit 1
	</select>

	<select id="countBusinessManInfos" resultType="int">
		select count(1) from
		(
		<include refid="sqlBusinessManInfos"></include>
		) a
	</select>

	<sql id="sqlBusinessManInfos">
		SELECT s.user_id userId,
		s.type_id typeId,
		s.`NAME` NAME, m.name
		typeName , s.`address` address
		, IFNULL(s.grade,0) grade
		,s.`tuan_flag`
		tuanFlag, s.`cu_flag`
		cuFlag,s.`ding_flag`
		dingFlag,s.`pai_flag`
		paiFlag,
		CONCAT('file/',s.`user_id`) mainImageUrl,
		s.`sales_count`
		sales_count,
		s.phone phone
		FROM sys_business_man s ,sys_dictionaries m
		WHERE
		s.type_id = m.zd_id
		<if test="request.name != null and request.name  != ''">
			and s.name like #{request.name}
		</if>
		<if test="request.typeId != null and request.typeId  != ''">
			and s.typeId = #{request.typeId}
		</if>
	</sql>

	<sql id="sqlBusinessManInfo">
		SELECT s.user_id userId,
		s.type_id typeId,
		s.`NAME` NAME, m.name
		typeName , s.`address` address
		, IFNULL(s.grade,0) grade
		,s.`tuan_flag`
		tuanFlag, s.`cu_flag`
		cuFlag,s.`ding_flag`
		dingFlag,s.`pai_flag`
		paiFlag,
		CONCAT('file/',s.`user_id`) mainImageUrl
		FROM sys_business_man
		s
		,sys_dictionaries m WHERE s.type_id = m.zd_id
		<if test="userId != null">
			and s.user_id = #{userId}
		</if>
	</sql>

	<sql id="sqlBusinessManInfosByF">
		SELECT s.user_id userId,
		s.type_id typeId,
		s.`NAME` NAME,
		m.name
		typeName , s.`address` address
		, IFNULL(s.grade,0) grade
		,s.`tuan_flag`
		tuanFlag, s.`cu_flag`
		cuFlag,s.`ding_flag`
		dingFlag,s.`pai_flag`
		paiFlag,
		CONCAT('file/',s.`user_id`) mainImageUrl,
		s.`sales_count`
		sales_count,
		s.phone phone
		FROM sys_business_man s
		,sys_dictionaries
		m,bus_favorites f WHERE
		s.type_id = m.zd_id and
		f.man_id= s .user_id

		and f.user_id = #{userId}

	</sql>



	<select id="findBusinessManInfosByF" resultType="BusinessManInfo">
		select * from (
		<include refid="sqlBusinessManInfosByF"></include>
		) a
		limit #{pageable.pageStart}, #{pageable.pageEnd}
	</select>
</mapper>