<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fh.dao.FavoritesMapper">
	<resultMap id="BaseResultMap" type="com.fh.entity.Favorites">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="user_id" property="userId" jdbcType="BIGINT" />
		<result column="type" property="type" jdbcType="VARCHAR" />
		<result column="product_id" property="productId" jdbcType="BIGINT" />
		<result column="man_id" property="manId" jdbcType="BIGINT" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		id, user_id, type, product_id, man_id, create_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from bus_favorites
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from
		bus_favorites
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.fh.entity.Favorites">
		insert into bus_favorites (id,
		user_id, type,
		product_id, man_id, create_time
		)
		values
		(#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT},
		#{type,jdbcType=VARCHAR},
		#{productId,jdbcType=BIGINT},
		#{manId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.fh.entity.Favorites">
		insert into bus_favorites
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="productId != null">
				product_id,
			</if>
			<if test="manId != null">
				man_id,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=BIGINT},
			</if>
			<if test="type != null">
				#{type,jdbcType=VARCHAR},
			</if>
			<if test="productId != null">
				#{productId,jdbcType=BIGINT},
			</if>
			<if test="manId != null">
				#{manId,jdbcType=BIGINT},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.fh.entity.Favorites">
		update bus_favorites
		<set>
			<if test="userId != null">
				user_id = #{userId,jdbcType=BIGINT},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=VARCHAR},
			</if>
			<if test="productId != null">
				product_id = #{productId,jdbcType=BIGINT},
			</if>
			<if test="manId != null">
				man_id = #{manId,jdbcType=BIGINT},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.fh.entity.Favorites">
		update
		bus_favorites
		set user_id = #{userId,jdbcType=BIGINT},
		type =
		#{type,jdbcType=VARCHAR},
		product_id = #{productId,jdbcType=BIGINT},
		man_id = #{manId,jdbcType=BIGINT},
		create_time =
		#{createTime,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=BIGINT}
	</update>

	<select id="selectByUserIdAndP" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from bus_favorites
		where user_id = #{userId,jdbcType=BIGINT}
		and
		product_id = #{productId,jdbcType=BIGINT}
		and type='2'
	</select>

	<select id="selectByUserIdAndM" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from bus_favorites
		where user_id = #{userId,jdbcType=BIGINT}
		and man_id
		= #{manId,jdbcType=BIGINT}
		and type='1'
	</select>
</mapper>