<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fh.dao.GradeInfoMapper">

	<select id="findGradeInfos" resultType="GradeInfo">
		select * from (
		<include refid="sqlGradeInfos"></include>
		) a
		limit #{pageable.pageStart}, #{pageable.pageEnd}
	</select>

	



	<sql id="sqlGradeInfos">
		SELECT

		g.`id` id,
		g.`product_id` productId ,
		g.`comment` comment,
		g.grade grade,
		g.`user_id` userId,
		a.`username` userName,
		g.`order_id` orderId,
		g.`create_time` createTime
		FROM
		bus_grade g,
		sys_app_user a
		WHERE g.`user_id` = a.`user_id`
		<if test="productId != null and productId  != ''">
			and g.product_Id = #{productId}
		</if>
	</sql>

	<sql id="sqlOrderInfo">
		SELECT
		p.`id` id,
		b.`user_id` userId ,
		p.`type_id` typeId,
		p.`name` NAME,
		m.`name` typeName,
		b.`address` address,
		p.`detail` detail,
		b.`phone`
		phone,
		p.`old_price` oldPrice,
		p.`new_price` newPrice,
		p.`recommend`
		recommend,
		p.`top_grade` topGrade,
		p.`sales_count` salesCount,
		p.`info`
		info,
		p.`notice` notice
		FROM
		bus_product p,
		sys_business_man b,
		sys_main_type m
		WHERE p.`user_id` = b.`user_id`
		AND m.`id` = p.`type_id`
		<if test="id != null">
			and p.id = #{id}
		</if>
	</sql>
</mapper>