<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fh.dao.OrderInfoMapper">

	<select id="findOrderInfos" resultType="OrderInfo">
		select * from (
		<include refid="sqlOrderInfos"></include>
		) a
		limit #{pageable.pageStart}, #{pageable.pageEnd}
	</select>

	<select id="findOrderInfo" resultType="OrderInfo">
		<include refid="sqlOrderInfo"></include>
		limit 1
	</select>



	<sql id="sqlOrderInfos">
		SELECT
		o.`id` id,
		o.`flow_id` flowId ,
		o.`total_price` totalPrice,
		0
		totalNoDealPrice,
		o.`created_date` createdDate,
		o.`pay_time` payTime,
		o.`business_man_id` businessManId,
		b.`name` businessManName
		FROM
		bus_order o,
		sys_business_man b
		WHERE o.`business_man_id` = b.`user_id`
		<if test="request.flowId != null and request.flowId  != ''">
			and p.flow_id = #{request.flowId}
		</if>
		<if test="request.userId != null and request.userId  != ''">
			and o.user_id = #{request.userId}
		</if>
	</sql>

	<sql id="sqlOrderInfo">
		SELECT
		p.`id` id,
		b.`user_id` userId ,
		p.`type_id` typeId,
		p.`name` NAME,
		m.`name` typeName,
		b.`address` address,
		p.`detail` detail,
		b.`phone`
		phone,
		p.`old_price` oldPrice,
		p.`new_price` newPrice,
		p.`recommend`
		recommend,
		p.`top_grade` topGrade,
		p.`sales_count` salesCount,
		p.`info`
		info,
		p.`notice` notice
		FROM
		bus_product p,
		sys_business_man b,
		sys_main_type m
		WHERE p.`user_id` = b.`user_id`
		AND m.`id` = p.`type_id`
		<if test="id != null">
			and p.id = #{id}
		</if>
	</sql>
</mapper>