<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fh.dao.ProductInfoMapper">

	<select id="findProductInfos" resultType="ProductInfo">
		select * from (
		<include refid="sqlProductInfos"></include>
		) a
		<if test="request.gradeOrder != null and request.gradeOrder">
			order by a.topGrade
		</if>
		<if test="request.gradeOrder != null and !request.gradeOrder">
			order by a.topGrade desc
		</if>
		<!-- <if test="request.salesOrder != null and request.salesOrder"> order 
			by s.grade </if> <if test="request.salesOrder != null and !request.salesOrder"> 
			order by s.grade desc </if> -->
		limit #{pageable.pageStart}, #{pageable.pageEnd}
	</select>

	<select id="findProductInfo" resultType="ProductInfo">
		<include refid="sqlProductInfo"></include>
		limit 1
	</select>



	<sql id="sqlProductInfos">
		SELECT
		p.`id` id,
		b.`user_id` userId ,
		p.`type_id` typeId,
		p.`name` NAME,
		m.`name` typeName,
		b.`address` address,
		p.`old_price` oldPrice,
		p.`new_price` newPrice,
		p.`top_grade` topGrade,
		p.`sales_count` salesCount
		FROM
		bus_product p,
		sys_business_man b,
		sys_main_type m 
		WHERE p.`user_id` = b.`user_id`
		AND m.`id` = p.`type_id`
		<if test="request.name != null and request.name  != ''">
			and p.name like #{request.name}
		</if>
		<if test="request.typeId != null and request.typeId  != ''">
			and p.typeId = #{request.typeId}
		</if>
	</sql>

	<sql id="sqlProductInfo">
		SELECT
		p.`id` id,
		b.`user_id` userId ,
		p.`type_id` typeId,
		p.`name` NAME,
		m.`name` typeName,
		b.`address` address,
		p.`detail` detail,
		b.`phone` phone,
		p.`old_price` oldPrice,
		p.`new_price` newPrice,
		p.`recommend` recommend,
		p.`top_grade` topGrade,
		p.`sales_count` salesCount,
		p.`info` info,
		p.`notice` notice
		FROM
		bus_product p,
		sys_business_man b,
		sys_main_type m 
		WHERE p.`user_id` = b.`user_id`
		AND m.`id` = p.`type_id`
		<if test="id != null">
			and p.id = #{id}
		</if>
	</sql>
</mapper>