<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fh.dao.ShoppingCartInfoMapper">

	<select id="findShoppingCartInfos" resultType="ShoppingCartInfo">
		select * from (
		<include refid="sqlShoppingCartInfos"></include>
		) a
		limit #{pageable.pageStart}, #{pageable.pageEnd}
	</select>


	<sql id="sqlShoppingCartInfos">
		SELECT
		s.`id` id,
		s.`product_id` productId,
		p.`name` productName,
		p.`old_price` oldPrice,
		p.`new_price` newPrice,
		a.`USER_ID` userId,
		b.`name` businessManName,
		s.`count` COUNT
		FROM
		bus_shopping_cart s,
		bus_product p,
		sys_app_user a ,
		sys_business_man b
		WHERE s.`product_id` = p.`id`
		AND a.`USER_ID` = s.`user_id`
		AND b.`user_id` = p.`user_id`
		<if test="appuserId != null">
			and s.user_id = #{appuserId}
		</if>	
	</sql>


</mapper>