<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fh.dao.ShoppingCartMapper">
	<resultMap id="BaseResultMap" type="com.fh.entity.ShoppingCart">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="user_id" property="userId" jdbcType="BIGINT" />
		<result column="product_id" property="productId" jdbcType="BIGINT" />
		<result column="status" property="status" jdbcType="BIT" />
		<result column="count" property="count" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		id, user_id, product_id, status, count
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from bus_shopping_cart
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from
		bus_shopping_cart
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.fh.entity.ShoppingCart">
		insert into bus_shopping_cart
		(id, user_id, product_id,
		status, count)
		values (#{id,jdbcType=BIGINT},
		#{userId,jdbcType=BIGINT},
		#{productId,jdbcType=BIGINT},
		#{status,jdbcType=BIT}, #{count,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="com.fh.entity.ShoppingCart">
		insert into bus_shopping_cart
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="productId != null">
				product_id,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="count != null">
				count,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=BIGINT},
			</if>
			<if test="productId != null">
				#{productId,jdbcType=BIGINT},
			</if>
			<if test="status != null">
				#{status,jdbcType=BIT},
			</if>
			<if test="count != null">
				#{count,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.fh.entity.ShoppingCart">
		update bus_shopping_cart
		<set>
			<if test="userId != null">
				user_id = #{userId,jdbcType=BIGINT},
			</if>
			<if test="productId != null">
				product_id = #{productId,jdbcType=BIGINT},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=BIT},
			</if>
			<if test="count != null">
				count = #{count,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.fh.entity.ShoppingCart">
		update
		bus_shopping_cart
		set user_id = #{userId,jdbcType=BIGINT},
		product_id =
		#{productId,jdbcType=BIGINT},
		status = #{status,jdbcType=BIT},
		count =
		#{count,jdbcType=INTEGER}
		where id = #{id,jdbcType=BIGINT}
	</update>
	<select id="selectByProductId" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from bus_shopping_cart
		where product_id = #{productId,jdbcType=BIGINT}
		and user_id =
		#{userId,jdbcType=BIGINT}
	</select>

	<!-- 购物车列表（分页） -->
	<select id="shoppingCartlistPage" parameterType="page" resultType="pd">
		select 
		s.id,
		s.status,
		s.count,
		s.created_date,
		a.username,
		p.name
		from
		bus_shopping_cart s,bus_product p,sys_app_user a
		where s.product_id = p.id AND
		s.user_id = a.user_id
		<if test="pd.username != null and pd.username != ''"><!-- 用户名检索 -->
			and
			a.USERNAME LIKE CONCAT(CONCAT('%', #{pd.username}),'%')
		</if>
		<if test="pd.productname != null and pd.productname != ''"><!-- 产品名称检索 -->
			and p.name LIKE CONCAT(CONCAT('%', #{pd.productname}),'%')
		</if>
		<if test="pd.lastLoginStart!=null and pd.lastLoginStart!=''"><!-- 到期时间检索 -->
			and s.CREATED_DATE &gt;= #{pd.lastLoginStart}
		</if>
		<if test="pd.lastLoginEnd!=null and pd.lastLoginEnd!=''"><!-- 到期时间检索 -->
			and s.CREATED_DATE &lt;= #{pd.lastLoginEnd}
		</if>
		<if test="pd.status != null and pd.status != ''"><!-- 状态检索 -->
			and s.status=#{pd.status}
		</if>
	</select>

	<!-- 购物车列表(全部) -->
	<select id="listAllShoppingCarts" parameterType="pd" resultType="pd">
		select o.id,
		o.status,
		o.price,
		o.created_date,
		a.username,
		p.name
		from
		bus_order o,bus_product p,sys_app_user a
		where o.product_id = p.id AND
		o.user_id = a.user_id
		<if test="pd.username != null and pd.username != ''"><!-- 用户名检索 -->
			and
			a.USERNAME LIKE CONCAT(CONCAT('%', #{pd.username}),'%')
		</if>
		<if test="pd.productname != null and pd.productname != ''"><!-- 产品名称检索 -->
			and p.name LIKE CONCAT(CONCAT('%', #{pd.productname}),'%')
		</if>
		<if test="pd.lastLoginStart!=null and pd.lastLoginStart!=''"><!-- 到期时间检索 -->
			and s.CREATED_DATE &gt;= #{pd.lastLoginStart}
		</if>
		<if test="pd.lastLoginEnd!=null and pd.lastLoginEnd!=''"><!-- 到期时间检索 -->
			and s.CREATED_DATE &lt;= #{pd.lastLoginEnd}
		</if>
		<if test="pd.status != null and pd.status != ''"><!-- 状态检索 -->
			and s.status=#{pd.status}
		</if>
	</select>
</mapper>